---
layout: default1
---









<link rel="stylesheet" href="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.css" type="text/css" />
<script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script><center>
<video id='4041' controls autoplay loop muted style="max-width:100%; height:auto;" >
   <source src='https://video.twimg.com/ext_tw_video/1827061434326642688/pu/vid/avc1/802x360/9NLh2jLOtwh1fNYc.mp4' title='{{ page.title }}' type='video/mp4' />
</video></center>
<script type="application/javascript">
    var testVideo = fluidPlayer(
        "4041",
{
	"layoutControls": {
		"controlBar": {
			"autoHideTimeout": 1,
			"animated": true,
			"autoHide": true
		},
		"htmlOnPauseBlock": {
			"html": null,
			"height": null,
			"width": null
		},
		"autoplay": true,
		"mute": true,
		"allowTheatre": true,
		"playPauseAnimation": true,
		"playbackRateEnabled": true,
		"allowDownload": true,
		"playButtonShowing": true,
		"fillToContainer": true,
		"posterImage": "{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}"
	},
	"vastOptions": {
	"adList": [
                    {
                        "roll": "preRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=ada2ce975f0d25fb2eb0be99b4e7d14a"
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": "1"
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=b320bff569bb5535540366abcef11a09",
                        "timer": "2"
                    },
{
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=f76eb4092d4b94ed2411172982571a87",
                        "timer": "3"
                    },
		{
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": "4"
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": "5"
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 6
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 7
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 8
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 9
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 10
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 11
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 12
                    },
                    {
                        "roll": "midRoll",
                        "vastTag": "https://www.videosprofitnetwork.com/watch.xml?key=0265840d4e6bd543c018981a01edca89",
                        "timer": 13
                    },
            ]
        }
}
    );
</script>

<ul id="category-posts">
	<h2>{{ page.title }}</h2>
  {% for post in site.posts %}
    {% if post.categories contains page.category %}
      <li id="post-{{ post.id }}">
        <a href="{{ post.url }}">
          {% if post.image %}
            <img src="{{ post.image }}" alt="{{ post.title }}" id="post-image-{{ post.id }}" class="post-image">
          {% endif %}
          <br />{{ post.title }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>



<a id="show_id" onclick="document.getElementById('spoiler_id').style.display=''; document.getElementById('show_id').style.display='none';"></a><span id="spoiler_id" style="display: none;"><a class="link" onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';"></a>
<div style="background-color: rgba(0, 0, 0, 0); margin: 1px;">
<div class="smallfont"><i><span style="font-size: 16px; font-weight: bold; margin-right: 3px;"></span></i><input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = ''; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = ''; }" style="background-color: #00000000; font-size: 16px; width: auto;" type="button" value="" />
</div>
<div class="alt2" style="background-color: rgba(255, 255, 255, 0); margin: 0px; padding: 0px;">
<div style="display: none;" loading="lazy">



mya.curvz
Myesha A Boulton
 tranxfiona
tranxfiona
Fiona
 iamkeyarastone
iamkeyarastone
Keyara Stone
 lustn4lexi
lustn4lexi
Alexis Arias 💞
 missdridri
missdridri
𝓐𝓷𝓭𝓻𝓮𝓪 𝓜𝓪𝓻𝓲𝓪
 damndimeracks
damndimeracks
Dimeracks
 imhaileyhayes
imhaileyhayes
Hailey
 imjustangie
imjustangie
Angie Houston
 yonna.galvao
yonna.galvao
Ioná Galvão
 kristianaking
kristianaking
Kristiana King 🇬🇭🇺🇸
 officialnaughtynaughty
officialnaughtynaughty
ɴᴀᴜɢʜᴛʏ ɴᴀᴜɢʜᴛʏ
 the_real_sophie_lawson
the_real_sophie_lawson
Sophie Lawson 😇
 realladytarzan
realladytarzan
Lady Tarzan
 littest_2001
littest_2001
Beverly Tlhako 🇿🇦
 mariatgjelly
mariatgjelly
ᴍᴀʀɪᴀ
 bodaciousthebody
bodaciousthebody
Creshunda Miller
 misssperu
misssperu
𝓕𝓲𝓸𝓻𝓮𝓵𝓵𝓪
 cocobunnieeofficial
cocobunnieeofficial
Mia Anderson
 ariees
ariees
Renea Jackson
 nyny_irene
nyny_irene
NyNy Irene
 veronica.rose.xo
veronica.rose.xo
Veronica Rose
 sooochocolate
sooochocolate
NEVER MET A REAL NIGGA
 victoriamatosavideo
victoriamatosavideo
Victoria Matos
 eatmah_kandy
eatmah_kandy
Candy Mary
 dymescity
dymescity
Dymes 😍
 nollywoodglampage
nollywoodglampage
Nollywood Glam Page
 876lizzy
876lizzy
Leiza-Mae Keane
 therealcateyes
therealcateyes
Shadée Monique
 _a_beautiful_mix_
_a_beautiful_mix_
Raven Alexzandrea
 sophie_lawson_x
sophie_lawson_x
Sophie Lawson
 pisikuntu
pisikuntu
PISI
 _sophiexlawson_x
_sophiexlawson_x
Sophie Lawson
 happyugtothetop
happyugtothetop
HAPPY TO THE TOP
 sophiierainxo
sophiierainxo
 exohydraxtoo
exohydraxtoo
ExoHydraX
 misskay_22
misskay_22
Suekay Deniz
 nikkijzo
nikkijzo
The Baddie manager
 queryies
queryies
Queries 🙋
 valvsval
valvsval
Valeria Vendetta
 iamsarahmckenzie
iamsarahmckenzie
Sarah McKenzie
 vivutiotaifa
vivutiotaifa
Vivutio
 melaninscity
melaninscity
Melanins City
 justyourgrace
justyourgrace
Grace
 heymomwhatscooking_
heymomwhatscooking_
Sophie Lawson
 thickthickdymes
thickthickdymes
AKINYEMI
 ccentino
ccentino
Céline Centino🖤
 ebonyscity
ebonyscity
Ebony City ⛲️
 cynxvee
cynxvee
⠀ ✨ ⠀Cyn⠀ ✨
 727keyshia
727keyshia
Kesha Keyshia Keyonce
 essencetatiana
essencetatiana
ESSENCE TATIANA
 eboneythebody
eboneythebody
Eboney Lockett
 dani.dimes2
dani.dimes2
🎀 𝑫𝒂𝒏𝒊 𝑫𝒊𝒎𝒆𝒔 ⭐️
 danielle.ramona
danielle.ramona
Danielle Ramona
 aamberb__
aamberb__
Amber
 realprinces_s
realprinces_s
Blessing_ Ade_wole Princess
 becurvyy
becurvyy
Fashion
 gennietothetop
gennietothetop
GENNIE
 actinglightskin
actinglightskin
Nicole💙
 slay__divas
slay__divas
DM FOR PROMO RATES 💰
 tina__nikol
tina__nikol
Tina Nikol
 jawdropping_loveliess
jawdropping_loveliess
Lovelies💖
 tootatis
tootatis
 hott4brittanya
hott4brittanya
Brittanya Razavi
 santodomingopopis
santodomingopopis
Adderly Arias
 sevxxen
sevxxen
🌺🌴✨🌱🍄✨🇨🇴
 val2legit
val2legit
Valarie Ruvalcaba
 annabellaivyy
annabellaivyy
Annabella ivy
 extracutedymes
extracutedymes
KIKELOMO
 only.jakani
only.jakani
JaKani Frazier
 thejasmineelizabethhh
thejasmineelizabethhh
𝗘𝗹𝗶𝘇𝗮𝗯𝗲𝘁𝗵 𝗕𝗦. 𝗕𝗦𝗡  𝗥𝗡
 thurriaa
thurriaa
🇸🇩الله
 feastofbeauties
feastofbeauties
 rebeccajlive
rebeccajlive
Jessenia Rebecca
 caramel_baddiess
caramel_baddiess
C U
 adapt_immoht
adapt_immoht
ADAPT
 iamselenecastle
iamselenecastle
Selene Castle
 blackwomenareallmagic_
blackwomenareallmagic_
Clinton Onuoha
 lilccousan
lilccousan
Chris cousan
 imzarahxo
imzarahxo
Zarah 😇
 bbyqueensxo
bbyqueensxo
QUEENS 👸
 sophiescameraroll_x
sophiescameraroll_x
Sophie Lawson
 beguiling_w0men
beguiling_w0men
B.G 🩶
 shanijamilah
shanijamilah
Shani Jamilah
 maryelee24_
maryelee24_
Grace Matias
 golddimes_inc
golddimes_inc
@Mr_ 32one
 tana_gomez
tana_gomez
 licifit
licifit
LiCi Fit™ (Lee-See)
 mzshibababy
mzshibababy
Shiba Eason
 lexiforkeeps
lexiforkeeps
Lexi 💕
 notsothick
notsothick
Just A Florida Girl ☀️
 ms.sethii
ms.sethii
Shilpa Sethi
 jawdroppingcandy
jawdroppingcandy
Christian Daniel
 darladimples_
darladimples_
Darla Shuttlesworth
 mastermitchh
mastermitchh
Mitch (Tiffany Tarantino)
 ayishadiaz
ayishadiaz
Ayisha Diaz
 neilaajay
neilaajay
Neila J.🌬
 fineaszmercedes
fineaszmercedes
Mercedes 🦋
 salmunoz
salmunoz
Salome Munoz
 ash.kaashh
ash.kaashh
BabyGirlStassey23
 alldivasfeed
alldivasfeed
Peach😍
 aundreanarene
aundreanarene
Aundreana Rene
 lala.koi
lala.koi
LaKoi M
 melaninsfeed
melaninsfeed
Melanin Beauties Feed 🍫
 yababeth
yababeth
 thesushana_daly
thesushana_daly
💫Sushana daly🍯
 bulma.xo
bulma.xo
Taylor Dshauna
 iamsophiielikosky
iamsophiielikosky
Sophiie Likosky 🤍🧿
 amirahdyme
amirahdyme
AMIRAHDYME
 imfaithxo
imfaithxo
Faith Lianne
 exotic___mixxed
exotic___mixxed
✨EXOTIC✨
 official_chef_cokebottle
official_chef_cokebottle
Chef_CokeBottle
 raphael_sauleau
raphael_sauleau
Raphael Sauleau
 diamondgiovonni
diamondgiovonni
Diamond Giovonni
 vickyxlikexwoahhhh
vickyxlikexwoahhhh
Victorya Addad
 la_mas_dura_de_rd_
la_mas_dura_de_rd_
Renatta
 la_reinanyc
la_reinanyc
Lola
 yonnagalvao
yonnagalvao
Ioná Galvão
 lexi2legit
lexi2legit
Lexi Loves You 💕
 valeryaltamar001
valeryaltamar001
Valery Altamar
 melaninstunners
melaninstunners
Ayo💞💞
 scenecitybabes
scenecitybabes
Scene City
 graciebon
graciebon
GRACIE BON
 persephanii
persephanii
Stephanie Nelson
 1ashleenicole
1ashleenicole
ashlee nicole
 entrancing_daily
entrancing_daily
 iamfunmi___
iamfunmi___
I Am Funmi 🇺🇸
 justinejuicyy
justinejuicyy
Justine Mirdita
 elisarayy
elisarayy
𝓔𝓵𝓲𝓼𝓪 𝓜𝓲𝓻𝓪𝓵𝓭𝓪-𝓗𝓮𝓻𝓷𝓪𝓷𝓭𝓮𝔃
 pamelaalexandra
pamelaalexandra
Pamela Alexandra
 jailyneojeda
jailyneojeda
Jailyne Ojeda Ochoa
 bodyamorrr
bodyamorrr
Vee amorrr #letGodbeyourlight
 kimculona
kimculona
Kim kisses
 everlylanesxo
everlylanesxo
Everly lanes
 imlexi2legit
imlexi2legit
Alexis Arias 💞
 gigi_empress
gigi_empress
🇭🇹
 imnailah_
imnailah_
Nailah Rossi
 little.ms.golden
little.ms.golden
Little Ms. Golden✨
 anowaadjah
anowaadjah
Anowa
 ravieloso
ravieloso
Raven
 rielleuk
rielleuk
RIELLE
 imbrittanya
imbrittanya
Brittanya Razavi
 bby_cai
bby_cai
Caitlyn Mwenifumbo
 janaayy
janaayy
Janay 🦁
 soyvictoriamatosa
soyvictoriamatosa
Victoria Matos
 sweetxxpea_
sweetxxpea_
Pea 🩶.
 vee_amorrr
vee_amorrr
Let God be your light
 modezlz
modezlz
MODELZ
 keyaxamber
keyaxamber
Zakeya🌻
 realberniceburgos
realberniceburgos
Bernice Burgos
 jaydacheaves
jaydacheaves
JAYDA WAYDA
 theshaderoom
theshaderoom
The Shade Room
 melanincutest
melanincutest
melanincutest🤎✨
 lilduval
lilduval
lilduval
 zmeenaorr
zmeenaorr
Zmeenaorr
 fitforcalis
fitforcalis
Fit for Calis 🇵🇸
 gemstar
gemstar
Gemma Michaela
 phfame
phfame
Tesla williams
 dollycastro
dollycastro
Dolly Castro
 jonica
jonica
jonica
 richmindset_only
richmindset_only
Rich🤪💅🏽💸😈
 cutiess_dyme
cutiess_dyme
DM FOR PROMO RATES 💰
 4gh0stie
4gh0stie
Gh0stie :3
 beautiful_ellie
beautiful_ellie
E L L I E
 therealchelasway
therealchelasway
🎀 𝓒𝓱𝓮𝓵𝓪 🎀
 lorraine_sd
lorraine_sd
Lorraine Leniar
 nina211_
nina211_
🧊Nina🧊
 kimbellasworld
kimbellasworld
KIMBELLA
 black_girls_are_winning
black_girls_are_winning
BlackGirlsAreWinning
 mztee_luv
mztee_luv
Tee



</div></div></div></span>
